h1(align='center') HdM-Chat
div#wrapper
  form
    table(border='0', align='center')
      tr
        td
          input(type='text')#username
        td
          input(type='button', value='Connect')#connect
      tr
        td(colspan='2')
          textarea(cols='25', rows='15')#chatlog
      tr
        td
          input(type='text')#input
        td
          input(type='button', value='Send')#send
